################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/MinimalApiAndDapper/UserDB/UserDB.publish.xml
/MinimalApiAndDapper/UserDB/UserDB.dbmdl